@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

h1, h2, h3, p, a {
  color: white; }

.btn-success, .btn-info {
  padding: 10px 15px 10px 15px;
  text-decoration: none; }

.btn-success {
  background: greenyellow; }

.btn-info {
  background: #3E00FF; }

body {
  background: #080021;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1em; }
  body #loadingDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: tomato;
    z-index: 99999; }
    body #loadingDiv h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  @media screen and (min-width: 800px) {
    body body {
      overflow: hidden; } }
  body #particles-js {
    width: 100%;
    height: 100%;
    background-color: #080021;
    background-size: cover;
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0; }
  @media screen and (min-width: 800px) {
    body #wrap {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; } }
  @media screen and (min-width: 800px) {
    body #wrap #app {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 87.20529%;
      margin-left: 12%; }
      body #wrap #app:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 800px) {
    body #wrap #app {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      body #wrap #app:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 400px) {
    body #wrap #app {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      body #wrap #app:last-child {
        margin-right: 0; } }

@keyframes toggleAnimation {
  0%,100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@keyframes appear {
  0% {
    opacity: 0;
    margin-left: -150px; }
  100% {
    opacity: 1;
    margin-left: 0; } }
@keyframes slideUp {
  0% {
    opacity: 0;
    margin-top: 50px; }
  100% {
    opacity: 1;
    margin-top: 0; } }
#mainHeader #mainNav ul {
  list-style: none; }
  #mainHeader #mainNav ul li svg {
    height: 25px;
    width: 25px; }
  #mainHeader #mainNav ul li a {
    text-decoration: none;
    position: relative;
    color: white; }
    #mainHeader #mainNav ul li a:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 2px;
      background: white;
      width: 0;
      -webkit-transition: width 0.3s;
      -moz-transition: width 0.3s;
      transition: width 0.3s; }
    #mainHeader #mainNav ul li a:hover:before {
      width: 100%; }
@media screen and (max-width: 400px) {
  #mainHeader {
    -webkit-box-pack: none;
    -moz-box-pack: none;
    box-pack: none;
    -webkit-justify-content: none;
    -moz-justify-content: none;
    -ms-justify-content: none;
    -o-justify-content: none;
    justify-content: none;
    -ms-flex-pack: none;
    background: none; }
    #mainHeader #mainNav {
      background: #110048;
      margin-bottom: 20px;
      padding: 10px; }
      #mainHeader #mainNav ul li {
        padding: 10px;
        display: none; }
        #mainHeader #mainNav ul li svg {
          fill: white; }
        #mainHeader #mainNav ul li a {
          display: block;
          color: white;
          font-size: 1.5em; }
      #mainHeader #mainNav #toggle {
        position: relative;
        cursor: pointer;
        background: #080021;
        padding: 10px;
        margin-top: 15px;
        height: 40px;
        width: 40px; }
        #mainHeader #mainNav #toggle div {
          height: 2px;
          width: 20px;
          margin-bottom: 5px;
          background: white;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          transition: all 0.2s linear; } }
@media screen and (min-width: 401px) and (max-width: 800px) {
  #mainHeader {
    background: white;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    #mainHeader #mainNav ul {
      margin: 0;
      padding-left: 10px; }
      #mainHeader #mainNav ul li {
        display: inline-block;
        text-align: center; }
        #mainHeader #mainNav ul li a {
          color: #080021;
          display: block;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;
          padding: 15px; }
          #mainHeader #mainNav ul li a:hover {
            background: #080021;
            color: white; }
            #mainHeader #mainNav ul li a:hover svg {
              fill: white; } }
@media screen and (min-width: 800px) {
  #mainHeader {
    display: flex !important;
    min-height: 100vh;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 10.43705%;
    position: fixed;
    align-items: center;
    background: white; }
    #mainHeader:last-child {
      margin-right: 0; }
    #mainHeader #mainNav ul {
      padding-left: 20px; }
      #mainHeader #mainNav ul li {
        margin-bottom: 30px; }
        #mainHeader #mainNav ul li svg {
          height: 25px;
          width: 25px;
          margin-right: 5px; }
        #mainHeader #mainNav ul li a {
          color: #080021;
          font-size: 1.2em;
          line-height: 25px; }
          #mainHeader #mainNav ul li a:before {
            background: #080021; } }

.clickedMenu div {
  margin-top: 8px;
  height: 10px;
  position: absolute; }
  .clickedMenu div:nth-child(2) {
    display: none; }
  .clickedMenu div:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .clickedMenu div:nth-child(3) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

#home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
  padding: 20px;
  -webkit-animation: appear 0.75s linear;
  -moz-animation: appear 0.75s linear;
  animation: appear 0.75s linear;
  color: white; }
  #home h1 {
    font-size: 2.5em; }
  #home p {
    margin-top: -20px; }
  #home #logos {
    list-style: none;
    margin-left: -35px; }
    #home #logos li {
      display: inline-block;
      margin-right: 2px; }
      #home #logos li img {
        height: 25px;
        width: 25px; }

@media screen and (min-width: 400px) {
  #home:before, #home:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease; }
  #home:before {
    top: 0;
    left: -100%; }
  #home:after {
    bottom: 0;
    right: -100%; }
  #home:hover:before {
    left: 0; }
  #home:hover:after {
    right: 0; } }
@media screen and (max-width: 400px) {
  #home {
    position: relative;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 0;
    left: 0;
    width: 100%; } }
#about {
  width: 100%; }
  #about header {
    position: relative;
    height: 200px;
    font-weight: 600;
    border-top: 3px solid #4294f0; }
    #about header h1 {
      margin: 0;
      text-align: center;
      padding-top: 50px;
      text-shadow: 2px 2px 1px #ccc; }
  #about svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vw; }
    #about svg polygon {
      fill: #080021; }
  #about #aboutMe {
    margin-bottom: 20px; }
    #about #aboutMe::after {
      clear: both;
      content: "";
      display: block; }
    #about #aboutMe header {
      background: white; }
      #about #aboutMe header h1 {
        color: #080021; }
    #about #aboutMe article {
      padding-bottom: 20px;
      max-width: 700px;
      margin: 0 auto; }
      #about #aboutMe article #img {
        height: 150px;
        width: 150px;
        position: relative;
        float: left;
        margin-right: 20px;
        background: white url("../img/thumb-me.jpg") no-repeat;
        background-size: cover;
        overflow: hidden;
        border-radius: 50%;
        border: 5px solid white;
        -webkit-filter: grayscale(0.3);
        filter: grayscale(0.3); }
      #about #aboutMe article p {
        font-size: 1.3rem;
        letter-spacing: 1px; }
        #about #aboutMe article p:first-letter {
          font-size: 2rem; }
        #about #aboutMe article p:first-line {
          margin-bottom: 3px; }
  #about #contact {
    margin-bottom: 20px; }
    #about #contact header {
      background: white; }
      #about #contact header h1 {
        color: #080021; }
    #about #contact article {
      max-width: 450px;
      margin: 0 auto; }
      #about #contact article p {
        padding: 10px;
        margin: 0;
        font-size: 1.2em; }
        #about #contact article p:last-of-type {
          line-height: 1.2em;
          margin-bottom: 20px; }
      #about #contact article #contactForm {
        padding: 20px 10px 10px 10px;
        max-width: 450px;
        background: rgba(255, 255, 255, 0.1); }
        #about #contact article #contactForm input, #about #contact article #contactForm textarea {
          width: 75%;
          margin: 15px auto;
          padding: 5px;
          height: 40px;
          display: block; }
          #about #contact article #contactForm input:focus, #about #contact article #contactForm textarea:focus {
            border: 2px solid #3E00FF; }
        #about #contact article #contactForm textarea {
          height: 100px; }
        #about #contact article #contactForm input[type=submit] {
          box-shadow: none;
          border: none;
          background: #3E00FF;
          color: white; }

@media screen and (max-width: 400px) {
  img, #img {
    margin: 0 auto !important;
    float: none !important; }

  article {
    width: 100%;
    padding: 15px; }
    article p {
      text-align: left; }

  #contact {
    position: relative; }
    #contact article {
      position: relative;
      padding-top: 50px; } }
#projects {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  align-content: flex-start;
  -ms-flex-line-pack: start; }
  @media screen and (min-width: 800px) {
    #projects {
      padding: 40px; } }
  #projects .overlay {
    display: none; }
  #projects article {
    background: #0a002b;
    position: relative;
    border-radius: 10px;
    max-width: 500px;
    padding: 20px;
    margin: 10px;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    transition: background 0.5s ease; }
    #projects article .btn {
      text-decoration: none;
      cursor: pointer;
      color: white;
      text-align: center;
      padding: 10px;
      display: block;
      overflow: hidden;
      border-radius: 5px;
      border: 1px solid white;
      position: relative;
      z-index: 1;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      #projects article .btn:hover {
        color: #080021; }
      #projects article .btn:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: white;
        height: 250px;
        width: 1000px;
        border-radius: 50%;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        top: 100%;
        left: 50%; }
      #projects article .btn:hover:before {
        top: -50px;
        left: -100px; }
    #projects article ul {
      display: none;
      margin-top: 60px; }
      #projects article ul li {
        list-style: none; }
        #projects article ul li:last-child h4 {
          margin-bottom: 10px; }
        #projects article ul li h4 {
          color: white;
          text-transform: uppercase;
          border-bottom: 1px solid white; }
        #projects article ul li p {
          color: #eee;
          font-size: 0.9em; }
        #projects article ul li .project-links {
          text-align: center; }
          #projects article ul li .project-links .btn-code, #projects article ul li .project-links .btn-visit {
            text-indent: -9999px;
            display: inline-block;
            background-size: contain;
            height: 30px;
            width: 30px; }
          #projects article ul li .project-links .btn-visit {
            background: url("../includes/icons/earth.svg") no-repeat; }
          #projects article ul li .project-links .btn-code {
            background: url("../includes/icons/github.svg") no-repeat; }

/*# sourceMappingURL=main.css.map */
